body{
  margin:0;
  background:#0f172a;
  color:white;
  font-family:sans-serif;
  text-align:center;
}

h1{
  margin-top:40px;
  font-size:34px;
}

.subtitle{
  font-size:18px;
  opacity:0.7;
}

button{
  width:280px;
  padding:18px;
  margin:20px;
  font-size:22px;
  border:none;
  border-radius:16px;
  cursor:pointer;
  transition:0.2s;
}

button:active{
  transform:scale(0.95);
}

.blue{ background:#2563eb; color:white; }
.green{ background:#16a34a; color:white; }
.orange{ background:#f59e0b; color:black; }

.control{
  width:240px;
  padding:18px;
  margin:20px;
  font-size:22px;
  border:none;
  border-radius:16px;
}

.on{ background:#22c55e; color:black; }
.off{ background:#ef4444; color:white; }
